body{
    background: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.box{
    height: 90px;
    border-radius: 5%;
    margin: 30px;
}

.box-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 12% 3% 5% 4%;
    padding: 10px;
    background-color: rgba(0,0,0,1);
    border-radius: 5%;
}

.button-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    margin-top: 0.5%;
}

.center{
    text-align: center;
}

.github-logo{
    font-size: 23px;
}

.hide{
    visibility: hidden;
}

.main-container{
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgba(255,255,255,1);
    border-radius: 5%;
}

.middle-container{
    background-color: rgba(66,65,255, 0.9);
    width: 60%;
    margin: 3% auto 3% auto;
    padding: 3% 0 3% 0;
    border-radius: 5%;
}

.rgb-color{
    color: black;
}

.top-contatiner{
    background-color: rgba(255, 191, 0, 0.9);
}

.top-contatiner h1{
    font-size: 60px;
}

.top-contatiner h3{
    font-size: 35px;
}

@media (min-width: 600px) and (max-width: 768px){
    .top-contatiner h1{
        font-size: 40px;
    }
    
    .top-contatiner h3{
        font-size: 20px;
    }

    .middle-container h2{
        font-size: 20px;
    }
}

@media (max-width: 600px){
    .top-contatiner h1{
        font-size: 40px;
    }
    
    .top-contatiner h3{
        font-size: 20px;
    }

    .middle-container h2{
        font-size: 18px;
    }

    .box{
        height: 60px;
        border-radius: 5%;
        margin: 10px;
    }

    .main-container{
        width: 300px;
        height: 300px;
        margin: auto;
        background-color: rgba(255,255,255,1);
        border-radius: 5%;
    }
}