.box{
    height: 200px;
    border-radius: 10px;
    margin: 30px;
}

.github-logo{
    font-size: 23px;
}

.hide{
    visibility: hidden;
}

.main-container{
    padding: 5% 20% 5% 20%;
}

.rgb-color{
    text-align: center;
}